ui/.DS_Store
ui/node_modules
ui/dist

# local env files
ui/.env.local
ui/.env.*.local

# Log files
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*

# Editor directories and files
ui/.idea
ui/.vscode
ui/*.suo
ui/*.ntvs*
ui/*.njsproj
ui/*.sln
ui/*.sw?

# backend
backend/.DS_Store
backend/node_modules
backend/dist

# local env files
backend/.env.local
backend/.env.*.local

# Log files
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*

# Editor directories and files
backend/.idea
backend/.vscode
backend/*.suo
backend/*.ntvs*
backend/*.njsproj
backend/*.sln
backend/*.sw?
